#facebox {
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    z-index: 100;
}
#facebox .popup {
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
    position: relative;
}
#facebox .content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    display: table;
    padding: 10px;
    width: 370px;
}
#facebox .content > p:first-child {
    margin-top: 0;
}
#facebox .content > p:last-child {
    margin-bottom: 0;
}
#facebox .close {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 2px;
    position: absolute;
    right: 5px;
    top: 5px;
}
#facebox .close img {
    opacity: 0.3;
}
#facebox .close:hover img {
    opacity: 1;
}
#facebox .loading {
    text-align: center;
}
#facebox .image {
    text-align: center;
}
#facebox img {
    border: 0 none;
    margin: 0;
}
#facebox_overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.facebox_hide {
    z-index: -100;
}
.facebox_overlayBG {
    background-color: #000000;
    z-index: 99;
}
